/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  background: #FFFFFF;
  color: #222222;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.container {
  max-width: 855px;
  margin: 0 auto;
}
.navigation {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  border: solid red 1px;
  width: 1024px;
  margin: 0 auto;
  background-color: #9DA7B1;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 10px;
  align-items: center;
  font-weight: bold;
  font-size: 2.4rem;
}
.footer {
  width: 1024px;
  height: 248px;
  margin: 0 auto;
  background-color: #888888;
  line-height: 2.4rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer h2 {
  font-size: 2.0rem;
}
.footer .copyright {
  display: flex;
  margin: 0 auto;
}
.jumbo-home {
  width: 1024px;
  height: 598px;
  background: url('../img/home/home-jumbotron.png');
  margin: 0 auto;
}
.jumbo-home .container {
  height: 100%;
  position: relative;
}
.jumbo-home h1 {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
  position: absolute;
  bottom: 49px;
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.row h1 {
  font-weight: 700;
  font-size: 2.8rem;
  color: #222222;
}
.row-1 {
  margin-top: 50px;
}
.row-2 {
  margin-top: 100px;
}
.col-md-6 {
  padding-right: 0;
  padding-left: 0;
}
.words {
  margin-top: 50px;
  padding-right: 10px;
}
.recentp {
  font-weight: 700;
  font-size: 2.8rem;
  color: #222222;
  margin-top: 100px;
  margin-bottom: 50px;
}
.img-text {
  margin: 0 25%;
  margin-bottom: 100px;
}
.img-text p {
  margin-top: 50px;
}
.jumbo-services {
  width: 1024px;
  height: 248px;
  background: url('../img/services/services-jumbotron.png');
  margin: 0 auto;
}
.jumbo-services .container {
  height: 100%;
  position: relative;
}
.jumbo-services h1 {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
  position: absolute;
  bottom: 17px;
}
.services-row {
  margin-top: 50px;
  margin-bottom: 50px;
}
.button-row {
  display: flex;
  justify-content: space-between;
}
.selectors {
  margin-top: 50px;
  margin-bottom: 100px;
}
