
.jumbo-home {
  width: 1024px;
  height: 598px;
  background: url('../img/home/home-jumbotron.png');
  margin: 0 auto;

  .container {
    height: 100%;
    position: relative;
  }

  h1 {
    .jumbo-text;
    position: absolute;
    bottom: 49px;
  }
}
.row {
  h1 {
    .sub-headers;
  }
}
.row-1 {
  margin-top: 50px;
}

.row-2 {
  margin-top: 100px;
}

.col-md-6 {
  padding-right: 0;
  padding-left: 0;
}

.recentp {
  .sub-headers;
  margin-top: 100px;
}

.img-text {
  margin: 0 15%;
  margin-bottom: 100px;
}