
.navigation {
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  color: @white;
  border: solid red 1px;
  width: 1024px;
  margin: 0 auto;
  background-color: #9DA7B1;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 10px;
  align-items: center;
}